<template>
  <div>
    <div class="page-title">
      <h3>Категории</h3>
    </div>
    <section>
      <loader v-if="loading"/>
      <div class="row" v-else>
        <category-create @created="addNewCategory"/>

        <category-edit
            v-if="categories.length"
            :categories="categories"
            :key="categories.length + updateCount"
            @updated="updateCategories"
        />
        <p class="center" v-else>Категорий пока нет</p>
      </div>
    </section>
  </div>
</template>


<script>
import CategoryCreate from "@/components/CategoryCreate";
import CategoryEdit from "@/components/CategoryEdit";

export default {
  metaInfo() {
    return {
      title: this.$title('Menu_Categories')
    }
  },
  name: 'categories',
  data: () => ({
    categories: [],
    loading: true,
    updateCount: 0
  }),
  async mounted() {
    this.categories = await this.$store.dispatch('fetchCategories')
    this.loading = false
  },
  components: {
    CategoryCreate, CategoryEdit
  },
  methods: {
    addNewCategory(category) {
      this.categories.push(category) //добавляется категория
    },
    updateCategories(category) {
      const idx = this.categories.findIndex(c => c.id === category.id)    //Обновление в категориях после редактирования названия без перезагрузки страницы
      this.categories[idx].title = category.title
      this.categories[idx].limit = category.limit
      this.updateCount++
    }
  }
}
</script>