<template>
  <div>
    <div class="page-title">
      <h3>Новая запись</h3>
    </div>
    <loader v-if="loading"/>
    <p class="center" v-else-if="!categories.length">Категорий пока нет.
      <router-link to="/categories">Добавить новую категорию</router-link>
    </p>

    <form class="form" v-else @submit.prevent="handleSubmit">
      <div class="input-field">
        <select ref="select" v-model="category">
          <option
              v-for="c in categories"
              :key="c.id"
              :value="c.id"
          >{{ c.title }}
          </option>
        </select>
        <label>Выберите категорию</label>
      </div>

      <p>
        <label>
          <input
              class="with-gap"
              name="type"
              type="radio"
              value="income"
              v-model="type"
          />
          <span>Доход</span>
        </label>
      </p>

      <p>
        <label>
          <input
              class="with-gap"
              name="type"
              type="radio"
              value="outcome"
              v-model="type"
          />
          <span>Расход</span>
        </label>
      </p>

      <div class="input-field">
        <input
            id="amount"
            type="number"
            v-model.number="amount"
            :class="{invalid: $v.amount.$dirty && !$v.amount.minValue}"
        >
        <label for="amount">Сумма</label>
        <span class="helper-text invalid"
              v-if="$v.amount.$dirty && !$v.amount.minValue"
        >
            Минимальная величина
          </span>
      </div>

      <div class="input-field">
        <input
            id="description"
            type="text"
            v-model="description"
            :class="{invalid: $v.description.$dirty && !$v.description.required}"
        >
        <label for="description">Описание</label>
        <span class="helper-text invalid"
              v-if="$v.description.$dirty && !$v.description.required"
        >
            Введите описание</span>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        Создать
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>

<script>
import {minValue, required} from "vuelidate/lib/validators";
import {mapGetters} from 'vuex'

export default {
  metaInfo() {
    return {
      title: this.$title('Menu_Record')
    }
  },
  name: 'record',
  data: () => ({
    loading: true,
    select: null,
    categories: [],
    category: null,
    type: 'outcome',
    amount: 1,
    description: ''

  }),
  validations: {   //валидация формы
    amount: {minValue: minValue(1)},
    description: {required}
  },
  async mounted() {
    this.categories = await this.$store.dispatch('fetchCategories') //получаем список категорий всех
    this.loading = false

    if (this.categories.length) {
      this.category = this.categories[0].id //провека, если есть категории, то выводим первую в всписке
    }

    setTimeout(() => {
      this.select = M.FormSelect.init(this.$refs.select)  // выводим категории в select
      M.updateTextFields() //оживляем инпут
    }, 0) //хак js

  },
  computed: {
    ...mapGetters(['info']),
    canCreateRecord() {
      if (this.type === 'income') {
        return true    // проверка может ли пользователь отавить запись.. если значинение доход, то можно
      }
      // иначе если нету денег или не хватает, то может оставить запись
      return this.info.bill >= this.amount
    }
  },
  methods: {
    async handleSubmit() {
      if (this.$v.$invalid) {  //тут проверка на валидность формы от вьюлидейт
        this.$v.$touch()
        return
      }
      //создаем новую запись
      if (this.canCreateRecord) {
        try {
          await this.$store.dispatch('createRecord', {
            categoryId: this.category,
            amount: this.amount,
            description: this.description,
            type: this.type,
            date: new Date().toJSON() // добавляем дату записи
          })
          const bill = this.type === 'income'
              ? this.info.bill + this.amount
              : this.info.bill = this.amount

          // обновляем в базе данных
          await this.$store.dispatch('updateInfo', {bill})
          // выводим сообщение об успешном сохранении
          this.$message('Запись успешно создана')
          // очищаем форму и озращаем дефолтный вид
          this.$v.$reset()
          this.amount = 1
          this.description = ''
        } catch (e) {
        }

      } else {
        this.$message(`Недостаточно средств на счете (${this.amount - this.info.bill})`) //выводим сообщение и считаем сколько не хватает на счете денег
      }

    }
  },
  destroyed() {
    if (this.select && this.select.destroy) {
      this.select.destroy()
    }
  }
}


</script>
